:root {
    --first-color: #F9F7F7;
    --second-color: #DBE2EF;
    --third-color: #3F72AF;
    --fourth-color: #112D4E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: black;
}

/* TODO> HEADER */
#header {
    height: 70px;
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
}

#header .hr {
    margin-top: auto;
}

#header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

#header-links a {
    color: var(--second-color);
    text-decoration: none;
    height: 100%;
    padding: 0 20px;

    display: flex;
    align-items: center;
}

#header-links .main {
    font-size: 24px;
}

#header-links .register {
    font-size: 20px;
}

#header-links a:hover {
    background-color: var(--first-color);
    color: var(--fourth-color);
}

/* ! FIN HEADER */

/* TODO> MAIN */
#main-container {
    height: calc(100vh - 70px);

    border: solid;

    display: grid;
    grid-template-rows: 100px repeat(2, 1fr);
}

.row.courses{
    display: flex;
    flex-direction: column;
}

.cards{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-info{
    display: flex;
    justify-content: space-evenly;
}

.row,
.card{
    border: solid;
}


/* ! FIN MAIN */