:root {
    --first-color: #F9F7F7;
    --second-color: #DBE2EF;
    --third-color: #3F72AF;
    --fourth-color: #112D4E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: black;
}

/* TODO> HEADER */

.card img{
    height: 186px;
}

#header {
    height: 98px;
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
}

#header .hr {
    margin-top: auto;
}

#header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

#header-links * {
    color: var(--second-color);
    text-decoration: none;
    height: 100%;
    padding: 0 20px;

    display: flex;
    align-items: center;
}

#header-links .main {
    font-size: 24px;
}

#header-links .register {
    font-size: 20px;
}

#header-links a:hover {
    background-color: var(--first-color);
    color: var(--fourth-color);
}

/* ! FIN HEADER */

/* TODO> MAIN */
#main-container{
    margin: 22px 47px 0px;
}

#import-courses .import-label,
#import-courses input{
    font-size: 24px;
    width: fit-content;
    height: 47px;
    padding: 10px;
}

#all-courses{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header .title{
    font-size: 32px;
    font-weight: bold;
}

.header .actions{
    display: flex;
    justify-content: space-between;
    gap: 44px;
}

.header .actions *{
font-size: 24px;
}

.cards{
    margin-top: 10px;
    padding: 17px 0;
    display: flex;
    /* justify-content: space-between; */
    gap: 70px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card .course-creation{
    font-size: 16px;
}

.card .course-info{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.card .course-info > div:last-child{
    font-weight: bold;
}

#in-progress-courses{
    margin-top: 70px;
}

.hide{
    display: none;
}

.noCoursesContainer{
    margin: 0 auto;
}
/* ! FIN MAIN */