:root{
    --first-color: #F9F7F7;
    --second-color: #DBE2EF;
    --third-color: #3F72AF;
    --fourth-color: #112D4E;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: black;
    
}

.hr{
    border: 1px solid rgb(0, 0, 0);
}

body{
    background-color: var(--first-color);
}


/* GLOBAL LINKS*/

a{
    text-decoration: none;
}

#root{
    display: flex;
    flex-direction: column;
    gap: 120px;

}

/* HEADER  */
#header{
    height: 70px;
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
}

div.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;

    a{
        height: 97px;
    }

    .main, .login{
        color: var(--second-color);
        &:hover{
            background-color: var(--first-color);
            color: var(--fourth-color);
            /* border-radius: 0 10px 10px 0; */
        }
    }


    .main{
        padding:  34px 20px;
        font-size: 24px;
        &:hover{
        background-color: var(--first-color);
    }
    }
    .login{
        padding: 34px 20px;
        font-size: 20px;
    }
    
}

#header .hr{
    margin-top: auto;
}

/* LOGIN */

div#register{
    display: flex;
    flex-direction: column;
    width: 592px;
    gap: 39px;
    margin: auto;

    .label-register, .buttons{
        align-self: center;
    }
}

#register-registerForm{
    display: flex;
    flex-direction: column;
    gap: 27px;    
}

#register-registerForm input{
    height: 50px;
    padding: 10px;
}

#register .buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#register button{
    width: 148px;
    height: 44px;
    
    border-radius: 20px;
    cursor: pointer;

    &:hover{
        background-color: var(--third-color);
        color: var(--first-color);
    }
    
}


/* FONT SIZES */

#register{
    .label-register{
        font-size: 36px;
    }

    label, button{
        font-size: 20px;
    }

}

